#b{
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
}
img{
    height: 25rem;
}
#login{
    border: 2px solid;
    margin-top : 105px  ;
    border-radius: 5px;
    background-color: cornsilk;
    padding-bottom: 25px;
}
body{
    scroll-behavior: smooth;
}